astroid==2.6.2
autopep8==1.5.5
flake8==3.8.4
isort==5.9.2
jedi==0.17.2
lazy-object-proxy==1.6.0
mccabe==0.6.1
parso==0.7.1
pluggy==0.13.1
pycodestyle==2.6.0
pydocstyle==6.1.1
pyflakes==2.2.0
pylint==2.9.3
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
rope==0.19.0
snowballstemmer==2.1.0
toml==0.10.2
tornado==5.1.1
ujson==4.0.2
wrapt==1.12.1
yapf==0.31.0
